version: 7.0.4

type: DeclarativeSource

description: >-
  The Metricool connector enables you to extract comprehensive social media
  analytics data from multiple platforms through Metricool’s unified API. This
  connector supports data extraction from Facebook, Instagram, TikTok, LinkedIn,
  Twitter (X), and YouTube, providing detailed insights into your social media
  performance.


  Key Features:

  - Multi-Platform Support: Extract data from 6 major social media platforms in
  a single connector

  - Comprehensive Analytics: Access post-level metrics, timeline data,
  competitor analysis, and content performance

  - Flexible Date Range: Configure custom date ranges for data extraction
  (defaults to 60 days if not specified)

  - Multiple Content Types: Supports various content formats including posts,
  reels, stories, and videos


  Supported Data Streams:

  - Brand Information: Basic account and profile data

  - Content Analytics: Posts, reels, stories, and videos with engagement metrics

  - Timeline Data: Historical performance metrics tracked over time

  - Competitor Analysis: Available for Facebook and Instagram

check:
  type: CheckStream
  stream_names:
    - facebook_stories

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config[\"user_token\"] }}"
        inject_into:
          type: RequestOption
          field_name: X-Mc-Auth
          inject_into: header
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 403
                error_message: Skipping on missing connection
      request_parameters:
        userId: "{{ config[\"user_id\"] }}"
        timezone: "{{ config['timezone'] }}"
    DeclarativeStream: {}

streams:
  - type: DeclarativeStream
    name: brands
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/admin/simpleProfiles
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition: >-
            {{ not config.get('blog_ids', []) or record['id'] in
            (config.get('blog_ids', []) | map('int') | list) }}
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: number
          hash:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
          isDemo:
            type:
              - boolean
              - "null"
          tiktok:
            type:
              - string
              - "null"
          twitch:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
          bluesky:
            type:
              - string
              - "null"
          deleted:
            type:
              - boolean
              - "null"
          picture:
            type:
              - string
              - "null"
          threads:
            type:
              - string
              - "null"
          youtube:
            type:
              - string
              - "null"
          facebook:
            type:
              - string
              - "null"
          isShared:
            type:
              - boolean
              - "null"
          joinDate:
            type:
              - number
              - "null"
          timezone:
            type:
              - string
              - "null"
          instagram:
            type:
              - string
              - "null"
          pinterest:
            type:
              - string
              - "null"
          tiktokads:
            type:
              - string
              - "null"
          facebookAds:
            type:
              - string
              - "null"
          ownerUserId:
            type:
              - number
              - "null"
          fbBusinessId:
            type:
              - string
              - "null"
          ownerUsername:
            type:
              - string
              - "null"
          facebookPageId:
            type:
              - string
              - "null"
          linkedinCompany:
            type:
              - string
              - "null"
          firstConnectionDate:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations: []
  - type: DeclarativeStream
    name: brand_connections
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/admin/profile
        http_method: GET
        request_body:
          type: RequestBodyJsonObject
          value:
            userId: "{{ config['userId'] }}"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          version:
            type:
              - number
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: number
          hash:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
          isDemo:
            type:
              - boolean
              - "null"
          tiktok:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
          deleted:
            type:
              - boolean
              - "null"
          picture:
            type:
              - string
              - "null"
          youtube:
            type:
              - string
              - "null"
          facebook:
            type:
              - string
              - "null"
          fbUserId:
            type:
              - string
              - "null"
          isShared:
            type:
              - boolean
              - "null"
          joinDate:
            type:
              - number
              - "null"
          timezone:
            type:
              - string
              - "null"
          instagram:
            type:
              - string
              - "null"
          facebookAds:
            type:
              - string
              - "null"
          ownerUserId:
            type:
              - number
              - "null"
          fbBusinessId:
            type:
              - string
              - "null"
          ownerUsername:
            type:
              - string
              - "null"
          tiktokPicture:
            type:
              - string
              - "null"
          facebookPageId:
            type:
              - string
              - "null"
          engagementRatio:
            type:
              - number
              - "null"
          facebookAdsName:
            type:
              - string
              - "null"
          facebookPicture:
            type:
              - string
              - "null"
          frontendVersion:
            type:
              - string
              - "null"
          hasXOAuth2Token:
            type:
              - boolean
              - "null"
          instagramPicture:
            type:
              - string
              - "null"
          tiktokAccountType:
            type:
              - string
              - "null"
          youtubeChannelName:
            type:
              - string
              - "null"
          firstConnectionDate:
            type:
              - number
              - "null"
          tiktokUserProfileUrl:
            type:
              - string
              - "null"
          youtubeChannelPicture:
            type:
              - string
              - "null"
          instagramConnectionType:
            type:
              - string
              - "null"
          tiktokBusinessTokenExpiration:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: facebook_competitors
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/v2/analytics/competitors/facebook
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          to: >-
            {{ str_to_datetime(config['end_date']).strftime('%Y-%m-%dT00:00:00')
            if config['end_date'] else now_utc().strftime('%Y-%m-%dT00:00:00')
            }}
          from: >-
            {{ ( (
            str_to_datetime(config['start_date']).strftime('%Y-%m-%dT00:00:00')
            if str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['start_date'] else (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['end_date'] else ( config['start_date'] if
            config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y-%m-%dT00:00:00') ) }}
          limit: "100"
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          isDemo:
            type:
              - boolean
              - "null"
          picture:
            type:
              - string
              - "null"
          updated:
            type:
              - number
              - "null"
          favorite:
            type:
              - boolean
              - "null"
          provider:
            type:
              - string
              - "null"
          providerId:
            type:
              - string
              - "null"
          screenName:
            type:
              - string
              - "null"
          displayName:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: facebook_stories
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/v2/analytics/stories/facebook
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          to: >-
            {{ config['end_date'] if config['end_date'] else
            now_utc().strftime('%Y-%m-%dT00:00:00') }}
          from: >-
            {{ ( ( config['start_date'] if str_to_datetime(config['start_date'])
            < str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['start_date'] else (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['end_date'] else ( config['start_date'] if
            config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y-%m-%dT00:00:00') ) }}
          userId: "{{ config[\"user_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - storyId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - storyId
        properties:
          blogId:
            type: number
          pageId:
            type:
              - string
              - "null"
          created:
            type:
              - object
              - "null"
            properties:
              dateTime:
                type:
                  - string
                  - "null"
              timezone:
                type:
                  - string
                  - "null"
          mediaId:
            type:
              - string
              - "null"
          storyId:
            type: string
          storyUrl:
            type:
              - string
              - "null"
          mediaType:
            type:
              - string
              - "null"
          thumbnailUrl:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}"
  - type: DeclarativeStream
    name: facebook_posts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/stats/facebook/posts
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          end: >-
            {{ str_to_datetime(config['end_date']).strftime('%Y%m%d') if
            config['end_date'] else now_utc().strftime('%Y%m%d') }}
          start: >-
            {{ ( ( str_to_datetime(config['start_date']).strftime('%Y%m%d') if
            str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['end_date'] else (
            config['start_date'] if config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y%m%d') ) }}
          userId: "{{ config['user_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - postId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - postId
        properties:
          type:
            type:
              - string
              - "null"
          link:
            type:
              - string
              - "null"
          text:
            type:
              - string
              - "null"
          spend:
            type:
              - number
              - "null"
          blogId:
            type: number
          clicks:
            type:
              - number
              - "null"
          pageId:
            type:
              - string
              - "null"
          postId:
            type: string
          shares:
            type:
              - number
              - "null"
          created:
            type:
              - number
              - "null"
          picture:
            type:
              - string
              - "null"
          comments:
            type:
              - number
              - "null"
          reactions:
            type:
              - number
              - "null"
          timestamp:
            type:
              - number
              - "null"
          engagement:
            type:
              - number
              - "null"
          linkclicks:
            type:
              - number
              - "null"
          videoViews:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          videoViewsPaid:
            type:
              - number
              - "null"
          impressionsPaid:
            type:
              - number
              - "null"
          videoTimeWatched:
            type:
              - number
              - "null"
          impressionsUnique:
            type:
              - number
              - "null"
          videoViewsOrganic:
            type:
              - number
              - "null"
          impressionsOrganic:
            type:
              - number
              - "null"
          impressionsUniquePaid:
            type:
              - number
              - "null"
          impressionsUniqueOrganic:
            type:
              - number
              - "null"
          facebookPulicPageIdsCache:
            type:
              - object
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: facebook_reels
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/v2/analytics/reels/facebook
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          to: >-
            {{ config['end_date'] if config['end_date'] else
            now_utc().strftime('%Y-%m-%dT00:00:00') }}
          from: >-
            {{ ( ( config['start_date'] if str_to_datetime(config['start_date'])
            < str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['start_date'] else (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['end_date'] else ( config['start_date'] if
            config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y-%m-%dT00:00:00') ) }}
          userId: "{{ config[\"user_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - reelId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - reelId
        properties:
          description:
            type:
              - string
              - "null"
          blogId:
            type: number
          length:
            type:
              - number
              - "null"
          pageId:
            type:
              - string
              - "null"
          reelId:
            type: string
          created:
            type:
              - object
              - "null"
            properties:
              dateTime:
                type:
                  - string
                  - "null"
              timezone:
                type:
                  - string
                  - "null"
          reelUrl:
            type:
              - string
              - "null"
          videoUrl:
            type:
              - string
              - "null"
          engagement:
            type:
              - number
              - "null"
          thumbnailUrl:
            type:
              - string
              - "null"
          blueReelsPlayCount:
            type:
              - number
              - "null"
          postVideoReactions:
            type:
              - number
              - "null"
          postImpressionsUnique:
            type:
              - number
              - "null"
          postVideoSocialActions:
            type:
              - number
              - "null"
          postVideoViewTimeSeconds:
            type:
              - number
              - "null"
          postVideoAvgTimeWatchedSeconds:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}"
  - type: DeclarativeStream
    name: facebook_stories_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=facebook&subject=stories
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - count
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: facebook_posts_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=facebook&subject=posts
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - count
            - reactions
            - interactions
            - engagement
            - clicks
            - likes
            - shares
            - comments
            - impressions
            - impressionspaid
            - impressionsorganic
            - impressionsunique
            - impressionsuniquepaid
            - impressionsuniqueorganic
            - videoviews
            - videoviewspaid
            - videoviewsorganic
            - videoavgtimewatched
            - linkclicks
            - spend
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: facebook_reels_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=facebook&subject=reels
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - blue_reels_play_count
            - post_impressions_unique
            - post_video_avg_time_watched
            - post_video_view_time
            - post_video_likes_by_reaction_type
            - post_video_social_actions
            - interactions
            - engagement
            - count
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: instagram_account_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=instagram&subject=account
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        encode_params: false
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - delta_followers
            - Followers
            - Friends
            - impressions
            - reach
            - postsCount
            - postsInteractions
            - views
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
  - type: DeclarativeStream
    name: instagram_competitors
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/v2/analytics/competitors/instagram
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          to: >-
            {{ str_to_datetime('2025-10-05').strftime('%Y-%m-%dT00:00:00') if
            config['end_date'] else now_utc().strftime('%Y-%m-%dT00:00:00') }}
          from: >-
            {{ ( ( str_to_datetime('2025-01-01').strftime('%Y-%m-%dT00:00:00')
            if str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['start_date'] else (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['end_date'] else ( config['start_date'] if
            config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y-%m-%dT00:00:00') ) }}
          limit: "100"
          userId: "{{ config[\"user_id\"] }}"
          timezone: America/Buenos_Aires
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          cost:
            type:
              - number
              - "null"
          likes:
            type:
              - number
              - "null"
          posts:
            type:
              - number
              - "null"
          reels:
            type:
              - number
              - "null"
          isDemo:
            type:
              - boolean
              - "null"
          picture:
            type:
              - string
              - "null"
          updated:
            type:
              - number
              - "null"
          comments:
            type:
              - number
              - "null"
          favorite:
            type:
              - boolean
              - "null"
          provider:
            type:
              - string
              - "null"
          followers:
            type:
              - number
              - "null"
          engagement:
            type:
              - number
              - "null"
          providerId:
            type:
              - string
              - "null"
          screenName:
            type:
              - string
              - "null"
          displayName:
            type:
              - string
              - "null"
          costPerInteraction:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: instagram_followers
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/v2/analytics/timelines
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          to: >-
            {{ config['end_date'] if config['end_date'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}
          from: >-
            {{ config['start_date'] if config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y-%m-%dT%H:%M:%S') }}
          metric: followers
          userId: "{{ config['userId'] }}"
          network: instagram
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "0"
            - values
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blogId
    primary_key:
      - dateTime
      - blogId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - dateTime
          - blogId
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          dateTime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blogId'] }}"
  - type: DeclarativeStream
    name: instagram_stories
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/stats/instagram/stories
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          end: >-
            {{ str_to_datetime(config['end_date']).strftime('%Y%m%d') if
            config['end_date'] else now_utc().strftime('%Y%m%d') }}
          start: >-
            {{ ( ( str_to_datetime(config['start_date']).strftime('%Y%m%d') if
            str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['end_date'] else (
            config['start_date'] if config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y%m%d') ) }}
          userId: "{{ config[\"user_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - postId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - postId
        properties:
          type:
            type:
              - string
              - "null"
          exits:
            type:
              - number
              - "null"
          owner:
            type:
              - string
              - "null"
          reach:
            type:
              - number
              - "null"
          blogId:
            type: number
          postId:
            type: string
          content:
            type:
              - string
              - "null"
          replies:
            type:
              - number
              - "null"
          mediaUrl:
            type:
              - string
              - "null"
          tapsBack:
            type:
              - number
              - "null"
          permalink:
            type:
              - string
              - "null"
          timestamp:
            type:
              - number
              - "null"
          businessId:
            type:
              - string
              - "null"
          impressions:
            type:
              - number
              - "null"
          tapsForward:
            type:
              - number
              - "null"
          thumbnailUrl:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: instagram_posts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/stats/instagram/posts
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          end: >-
            {{ str_to_datetime(config['end_date']).strftime('%Y%m%d') if
            config['end_date'] else now_utc().strftime('%Y%m%d') }}
          start: >-
            {{ ( ( str_to_datetime(config['start_date']).strftime('%Y%m%d') if
            str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['end_date'] else (
            config['start_date'] if config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y%m%d') ) }}
          userId: "{{ config['user_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - postId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - postId
        properties:
          type:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          likes:
            type:
              - number
              - "null"
          reach:
            type:
              - number
              - "null"
          saved:
            type:
              - number
              - "null"
          views:
            type:
              - number
              - "null"
          blogId:
            type: number
          clicks:
            type:
              - number
              - "null"
          filter:
            type:
              - string
              - "null"
          postId:
            type: string
          shares:
            type:
              - number
              - "null"
          userId:
            type:
              - string
              - "null"
          content:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          comments:
            type:
              - number
              - "null"
          imageUrl:
            type:
              - string
              - "null"
          timestamp:
            type:
              - number
              - "null"
          businessId:
            type:
              - string
              - "null"
          engagement:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          interactions:
            type:
              - number
              - "null"
          videoViewsTotal:
            type:
              - number
              - "null"
          impressionsTotal:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: instagram_reels
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/stats/instagram/reels
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          end: >-
            {{ str_to_datetime(config['end_date']).strftime('%Y%m%d') if
            config['end_date'] else now_utc().strftime('%Y%m%d') }}
          start: >-
            {{ ( ( str_to_datetime(config['start_date']).strftime('%Y%m%d') if
            str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['end_date'] else (
            config['start_date'] if config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y%m%d') ) }}
          userId: "{{ config['user_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - reelId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - reelId
        properties:
          type:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          likes:
            type:
              - number
              - "null"
          reach:
            type:
              - number
              - "null"
          saved:
            type:
              - number
              - "null"
          spend:
            type:
              - number
              - "null"
          views:
            type:
              - number
              - "null"
          blogId:
            type: number
          clicks:
            type:
              - number
              - "null"
          filter:
            type:
              - string
              - "null"
          reelId:
            type: string
          shares:
            type:
              - number
              - "null"
          userId:
            type:
              - string
              - "null"
          content:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          comments:
            type:
              - number
              - "null"
          imageUrl:
            type:
              - string
              - "null"
          reachPaid:
            type:
              - number
              - "null"
          timestamp:
            type:
              - number
              - "null"
          businessId:
            type:
              - string
              - "null"
          engagement:
            type:
              - number
              - "null"
          videoViews:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          interactions:
            type:
              - number
              - "null"
          postClicksPaid:
            type:
              - number
              - "null"
          videoViewsPaid:
            type:
              - number
              - "null"
          impressionsPaid:
            type:
              - number
              - "null"
          videoViewsTotal:
            type:
              - number
              - "null"
          impressionsTotal:
            type:
              - number
              - "null"
          postInteractionsPaid:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations: []
  - type: DeclarativeStream
    name: instagram_stories_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=instagram&subject=stories
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - count
            - exits
            - impressions
            - reach
            - replies
            - tapsforward
            - tapsback
            - impressionspaid
            - reachpaid
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: instagram_posts_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=instagram&subject=posts
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - count
            - comments
            - likes
            - saved
            - shares
            - clicks
            - engagement
            - impressions
            - reach
            - interactions
            - videoviews
            - views
            - impressionspaid
            - reachpaid
            - videoviewspaid
            - postclickspaid
            - postinteractionspaid
            - spend
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: instagram_reels_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=instagram&subject=reels
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - count
            - comments
            - likes
            - saved
            - shares
            - clicks
            - engagement
            - impressions
            - reach
            - interactions
            - videoviews
            - views
            - impressionspaid
            - reachpaid
            - videoviewspaid
            - postclickspaid
            - postinteractionspaid
            - spend
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: tiktok_account_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=tiktok&subject=account
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - video_views
            - profile_views
            - followers_count
            - followers_delta_count
            - likes
            - comments
            - shares
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
  - type: DeclarativeStream
    name: linkedin_account_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=linkedin&metricType=account
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - Followers
            - PageViews
            - totalButtonClicks
            - postsCount
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
  - type: DeclarativeStream
    name: tiktok_posts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/v2/analytics/posts/tiktok
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          to: >-
            {{ config['end_date'] if config['end_date'] else
            now_utc().strftime('%Y-%m-%dT00:00:00') }}
          from: >-
            {{ ( ( config['start_date'] if str_to_datetime(config['start_date'])
            < str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['start_date'] else (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y-%m-%dT00:00:00') ) if
            config['end_date'] else ( config['start_date'] if
            config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y-%m-%dT00:00:00') ) }}
          userId: "{{ config[\"user_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
    primary_key:
      - blogId
      - videoId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - blogId
          - videoId
        properties:
          type:
            type:
              - string
              - "null"
          reach:
            type:
              - number
              - "null"
          title:
            type:
              - string
              - "null"
          width:
            type:
              - number
              - "null"
          blogId:
            type: number
          height:
            type:
              - number
              - "null"
          openId:
            type:
              - string
              - "null"
          videoId:
            type: string
          duration:
            type:
              - number
              - "null"
          shareUrl:
            type:
              - string
              - "null"
          embedLink:
            type:
              - string
              - "null"
          likeCount:
            type:
              - number
              - "null"
          viewCount:
            type:
              - number
              - "null"
          createTime:
            type:
              - string
              - "null"
          engagement:
            type:
              - number
              - "null"
          shareCount:
            type:
              - number
              - "null"
          commentCount:
            type:
              - number
              - "null"
          coverImageUrl:
            type:
              - string
              - "null"
          totalTimeWatched:
            type:
              - number
              - "null"
          videoDescription:
            type:
              - string
              - "null"
          impressionSources:
            type:
              - object
              - "null"
            properties:
              sound:
                type:
                  - number
                  - "null"
              follow:
                type:
                  - number
                  - "null"
              forYou:
                type:
                  - number
                  - "null"
              search:
                type:
                  - number
                  - "null"
              hashtag:
                type:
                  - number
                  - "null"
              personalProfile:
                type:
                  - number
                  - "null"
          averageTimeWatched:
            type:
              - number
              - "null"
          fullVideoWatchedRate:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}"
  - type: DeclarativeStream
    name: tiktok_video_timelines
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: >-
          https://app.metricool.com/api/v2/analytics/timelines?network=tiktok&subject=video
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          userId: "{{ config[\"user_id\"] }}"
          timezone: "{{ config['timezone'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - "*"
            - values
            - "*"
      partition_router:
        - type: ListPartitionRouter
          values:
            - videos
            - views
            - comments
            - shares
            - interactions
            - likes
            - reach
            - engagement
            - impressionSources
            - averageVideoViews
          cursor_field: metric
          request_option:
            type: RequestOption
            field_name: metric
            inject_into: request_parameter
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: blogId
                inject_into: request_parameter
              partition_field: blog_id
    primary_key:
      - datetime
      - blogId
      - metric
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - datetime
          - blogId
          - metric
        properties:
          value:
            type:
              - number
              - "null"
          blogId:
            type: number
          metric:
            type: string
          datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - metric
            value: "{{ stream_partition['metric'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - blogId
            value: "{{ stream_partition['blog_id'] }}\r\n"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - datetime
            value: >-
              {{
              str_to_datetime(record['dateTime']).strftime('%Y-%m-%dT%H:00:00Z')
              }}
      - type: RemoveFields
        field_pointers:
          - - dateTime
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: datetime
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config['end_date'] if config['end_date'] else
          now_utc().strftime('%Y-%m-%dT00:00:00Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ ( ( config['start_date'] if str_to_datetime(config['start_date']) <
          str_to_datetime(config['end_date']) else
          (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['start_date'] else (str_to_datetime(config['end_date']) -
          duration('P1D')).strftime('%Y-%m-%dT00:00:00Z') ) if
          config['end_date'] else ( config['start_date'] if config['start_date']
          else (now_utc() - duration('P60D')).strftime('%Y-%m-%dT00:00:00Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: linkedin_posts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://app.metricool.com/api/stats/linkedin/posts
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"user_token\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-Mc-Auth
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: Skipping on missing connection
        request_parameters:
          end: >-
            {{ str_to_datetime(config['end_date']).strftime('%Y%m%d') if
            config['end_date'] else now_utc().strftime('%Y%m%d') }}
          start: >-
            {{ ( ( str_to_datetime(config['start_date']).strftime('%Y%m%d') if
            str_to_datetime(config['start_date']) <
            str_to_datetime(config['end_date']) else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P1D')).strftime('%Y%m%d') ) if config['end_date'] else (
            config['start_date'] if config['start_date'] else (now_utc() -
            duration('P60D')).strftime('%Y%m%d') ) }}
          userId: "{{ config['user_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            request_option:
              type: RequestOption
              field_name: blogId
              inject_into: request_parameter
            partition_field: blog_id
[...]
